<!DOCTYPE html>
<html>
<head>
    <title>Attendance Records</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container records-container">

    <h1>Subject-Wise Attendance Records</h1>
      <a href="/export">
      <button>Export Attendance CSV</button>
      </a>
    {% for subject, records in grouped_records.items() %}

    <div class="subject-box">
        <h2>{{ subject }} Attendance Records</h2>

        <div class="table-wrapper">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>USN</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Latitude</th>
                        <th>Longitude</th>
                        <th>IP Address</th>
                    </tr>
                </thead>

                <tbody>
                    {% for row in records %}
                    <tr>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[6] }}</td>
                        <td>{{ row[7] }}</td>
                        <td>{{ row[8] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% endfor %}

    <br>

    <a href="/">
        <button>Back Home</button>
    </a>

</div>

</body>
</html>