<!DOCTYPE html>
<html>
<head>
    <title>Attendance Records</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

    <div class="container">

        <h1>Attendance Records</h1>

        <table border="1" width="100%">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>USN</th>
                <th>Date</th>
                <th>Time</th>
            </tr>

            {% for row in records %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
            </tr>
            {% endfor %}

        </table>

        <br>

        <a href="/">
            <button>Back Home</button>
        </a>

    </div>

</body>
</html>